.faq {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 672px;
    gap: 69px;

    @media (max-width: $vp-tablet) {
      grid-template-columns: 1fr;
      gap: 32px;
    }
  }

  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 46.8px;

    @media (max-width: $vp-mobile) {
      font-size: 28px;
      line-height: 36px;
    }
  }
}
